/* added extra CSS to the weather cards */
h1 {
	text-align: center;
    color: white;
}
label {
	margin-top: 10px;
	font-weight: bold;
	font-size: 20px;
}
.card {
	margin: 10px;
     color: rgb(233, 227, 227);
}

.colOne {
    background-color: rgb(209, 209, 209);
    color: rgb(6, 6, 6);
}


.histBtnRow {
	margin-top: 5px;
	margin-bottom: 5px;
   border-color: red;
}
.green{
  background-color: lightgreen;
}
.yellow{
  background-color: yellow;
}
.orange{
  background-color: orange;
}
.red{
  background-color: red;
}
.purple{
  background-color: purple;
}
.icons {
    background-color: red;
	height: 70px;
	width: 70px;
}
.cardTodayDate {
	font-size: 20px;
    background-color: white;
}
.card-body{
    background-color: white;
    border-color: black;
    color:black;

}

.card-header{
    background-color: rgb(106, 104, 104);
    color: black;
}

.btn-primary {
    background-color: red;
    border-color: black;
}
.bg-primary {
    border-color: white;
}